@*@page
    
@model BookLoan.Views.ManageUser.UserListModel
@{
    ViewData["Title"] = "UserList";
}*@



@model List<BookLoan.Models.ManageUserViewModels.UserViewModel>

<h2>Member Users</h2>

<table class="table">
    @*Markup removed for brevity.*@
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Email)
            </th>
            <th>
                Actions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-area="" asp-controller="ManageUser" asp-action="UserRoleEdit" asp-route-id="@item.ID">Edit User Role</a>
            </td>
        </tr>
        }

    </tbody>
</table>
<div class="form-group">
    @*onclick="location.href='@Url.Action("Index", "Home")'"*@
    <a asp-area="" asp-controller="Home" asp-action="Index">Back to Home</a>
</div>
